include nd2/py.typed
recursive-include nd2 *.pyi

graft sdk/latest/*/lib
graft sdk/v9/*/lib
graft sdk/latest/*/include
graft sdk/v9/*/include

exclude .pre-commit-config.yaml .coveragerc
recursive-exclude tests *
recursive-exclude .github *
recursive-exclude scripts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.c
