include nd2/py.typed
recursive-include nd2 *.pyi

graft sdk/Darwin/static/lib
graft sdk/Darwin/static/include
graft sdk/Windows/static/lib
graft sdk/Windows/static/include
graft sdk/Linux/shared/lib
graft sdk/Linux/shared/include

exclude .pre-commit-config.yaml
recursive-exclude tests *
recursive-exclude scripts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.c
